elevenlabs
openai
wheel
speechRecognition
opencv-python
flask
pyttsx3
pygame
pydub
numpy
gTTS
PyAudio
google-auth
google-auth-oauthlib
google-api-python-client
PyQt5 
PyQtWebEngine
beautifulsoup4
setuptools
face_recognition
git+https://github.com/ageitgey/face_recognition_models
BeautifulSoup